/* Base Styles */
:root {
  --yellow: #f5c32c;
  --orange: #fca61f;
  --black: #242d49;
  --gray: rgba(36, 45, 73, 0.65);
  --profileShadow: 0px 4px 17px 2px rgba(0, 0, 0, 0.25);
  --hrColor: #cfeded;
  --cardColor: rgba(255, 255, 255, 0.64);
  --buttonBg: linear-gradient(98.63deg, #f9a255 0%, #f95f35 100%);
  --inputColor: rgba(40, 52, 62, 0.07);
  --photo: #4cb256;
  --video: #4a4eb7;
  --location: #ef5757;
  --schedule: #e1ae4a;
}

html {
  /* font-size: 62.5%; */
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;

  outline: none;
  border: none;
  list-style-type: none;
  text-decoration: none;
  transition: all 0.6s ease-in-out;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-family: sans-serif;
  line-height: 1.5rem;
  /* background: #f1f2f5; */
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  color: inherit;
  display: inline-block;
}
/*============== Layout ==============*/
.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.d-column {
  flex-direction: column;
}

.ai-center {
  align-items: center;
}

.jc-center {
  justify-content: center;
}

.jc-between {
  justify-content: space-between;
}

.jc-around {
  justify-content: space-around;
}

.jc-even {
  justify-content: space-evenly;
}

.gap-1 {
  gap: 0.5rem;
}

.gap-2 {
  gap: 1rem;
}

.gap-3 {
  gap: 1.5rem;
}

.gap-4 {
  gap: 2rem;
}

.alert {
  padding: 0.8rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  font-size: 1.5rem;
  background-color: red;
  color: #fff;
}

.alert-danger {
  background-color: red;
  color: #fff;
}

/*============== Project Styles ==============*/
.app {
  overflow: hidden;
  color: var(--black);
  background: #f3f3f3;
  padding: 1rem 1rem;
}

.blur {
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background: #a6ddf0;
  filter: blur(72px);
}

.blur:nth-of-type(1) {
  top: -18%;
  right: 0;
}

.blur:nth-of-type(2) {
  top: 36%;
  left: -8rem;
}

.btn {
  color: #fff;
  background: var(--buttonBg);
  border-radius: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 100ms ease-out;
}

.btn:hover {
  cursor: pointer;
  color: var(--orange);
  background: transparent;
  border: 2px solid var(--orange);
}

::-webkit-scrollbar {
  display: none;
}

/* @media screen and (max-width: 768px) {
  body {
  }
}

@media screen and (min-width: 320px) {
  body {
  }
} */
